@page "/devices"

<h1>Devices</h1>

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>GPIO Pin</th>
                    <th>Is Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in devices)
                {
                    <tr>
                        <td>@device.Alias</td>
                        <td>@device.DeviceTypeId</td>
                        <td>@device.GPIOPinNumber</td>
                        <td>@device.IsActive</td>
                        <td class="text-right"><a><span class="oi oi-pencil" aria-hidden="true"></span></a> <a><span class="oi oi-delete" aria-hidden="true"></span></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }


        @code {
    private ICollection<GardenControlCore.Models.ControlDevice> devices;

        protected override async Task OnInitializedAsync()
        {
            swaggerClient client = new(Configuration["APIBaseUrl"], Http);
            var deviceList = await client.ControlDeviceAllAsync();

            devices = deviceList.Select(x => new GardenControlCore.Models.ControlDevice
            {
                ControlDeviceId = x.ControlDeviceId,
                Alias = x.Alias,
                DeviceTypeId = (GardenControlCore.Enums.DeviceType)x.DeviceTypeId,
                GPIOPinNumber = x.GpioPinNumber,
                IsActive = x.IsActive
            }).ToList();
        }
        }
