<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="relay-@ControlDeviceId-switch" @bind="IsRelayOn" @onclick="UpdateRelayState"/>
    <label class="custom-control-label" for="relay-@ControlDeviceId-switch">@Alias</label>
</div>

@code {
    [Parameter]
    public int ControlDeviceId { get; set; }
    [Parameter]
    public string Alias { get; set; }
    [Parameter]
    public bool IsRelayOn { get; set; }

    private async void UpdateRelayState()
    {
        swaggerClient client = new(Configuration["APIBaseUrl"], Http);
        await client.Relay2Async(new RelaySetStateDto { DeviceId = ControlDeviceId,
            State = (IsRelayOn ? RelayState._0 : RelayState._1) });
    }
}
